<nav class="navbar navbar-expand-lg justify-content-between navbar-dark bg-dark">
  <div class="container">
    <div id="desc">This page is to help you connect with managers and recruiters for open positions at MS.</div>
    <div class="form-group form-inline" id="search-form">
      <div class="btn-group">
        <input class="form-control" type="text" name="filterTarget" (input)="onChangeFilter()" [(ngModel)]="filterTarget" Placeholder="Filter on...">
        <span *ngIf='filterTarget'><img id="searchclear" src="assets/img/x-circle.svg" alt="" width="24" height="24" (click)="clear()"></span>
      </div>
      <select class="form-control" [(ngModel)]="filterStatus" (ngModelChange)="onChangeStatus($event)">
        <option *ngFor="let status of sortArray" [value]="status.id">{{status.name}}</option>
      </select>
    </div>
  </div>
</nav>

<div class="container">
  {{ errorMessage }}
  
  <br>
  <div id="pageInfo">
    Page: {{ currentPage }} / {{ pages }} (Total Jobs: {{ totalJobs }})
    <div *ngIf="pages > 1">
      <button class="btn btn-primary btn-small" [disabled]="currentPage==1" (click)='prevPage()'>Previous Page</button>
      <button class="btn btn-primary btn-small" [disabled]="currentPage==pages" (click)="nextPage()">Next Page</button>
    </div>
  </div>
  <br>
<table class="table table-striped table-bordered table-hover table-sm table-responsive">
  <thead class="thead-light">
    <tr>
      <th>Req. #</th>
      <th (click)="sort('title')">
        Title
        <span *ngIf="sortTarget=='-title'"><img src="assets/img/chevron-down.svg" alt="" width="24" height="24"></span>
        <span *ngIf="sortTarget=='title'"><img src="assets/img/chevron-up.svg"alt="" width="24" height="24"></span>
      </th>
      <th (click)="sort('postedDate')">
        Posted Date
        <span *ngIf="sortTarget=='-postedDate'"><img src="assets/img/chevron-down.svg" alt="" width="24" height="24"></span>
        <span *ngIf="sortTarget=='postedDate'"><img src="assets/img/chevron-up.svg" alt="" width="24" height="24"></span>
      </th>
      <th (click)="sort('location')">
        Location
        <span *ngIf="sortTarget=='-location'"><img src="assets/img/chevron-down.svg" alt="" width="24" height="24"></span>
        <span *ngIf="sortTarget=='location'"><img src="assets/img/chevron-up.svg" alt="" width="24" height="24"></span>
      </th>
      <th (click)="sort('targetLevel')">
        Grade
        <span *ngIf="sortTarget=='-targetLevel'"><img src="assets/img/chevron-down.svg" alt="" width="24" height="24"></span>
        <span *ngIf="sortTarget=='targetLevel'"><img src="assets/img/chevron-up.svg" alt="" width="24" height="24"></span>
      </th>
      <!-- <th (click)="sort('hiringManager_id')">
        Hiring Manager
        <span *ngIf="sortTarget=='-hiringManager_id'"><img src="assets/img/chevron-down.svg" alt="" width="24" height="24"></span>
        <span *ngIf="sortTarget=='hiringManager_id'"><img src="assets/img/chevron-up.svg" alt="" width="24" height="24"></span>
      </th> -->
      <th (click)="sort('primaryRecruiter_id')">
        Recruiter
        <span *ngIf="sortTarget=='-primaryRecruiter_id'"><img src="assets/img/chevron-down.svg" alt="" width="24" height="24"></span>
        <span *ngIf="sortTarget=='primaryRecruiter_id'"><img src="assets/img/chevron-up.svg" alt="" width="24" height="24"></span>
      </th>
    </tr>
  </thead>
  <tbody class="">
    <tr *ngFor='let job of jobs'>
      <td>
        <a *ngIf="job.active" [href]="'https://careers.microsoft.com/us/en/job/' + job.jobSeqNo + '/' | safeHtml" target="_blank">{{ job.jobSeqNo }}</a>
        <span *ngIf="!job.active">{{ job.jobSeqNo }}</span>
        <img src="assets/img/info.svg" alt="" width="24" height="24" (click)="open(job._id)">
      </td>
      <td>{{ job.title }}</td>
      <td>{{ job.postedDate | date:'MM/dd/yy'}}</td>
      <td>{{ job.location }}</td>
      <td>{{ job.targetLevel }}</td>
      <!-- <td>
        <div *ngIf="job?.hiringManager_id?.email">
          {{ job?.hiringManager_id?.email == '' ? 'Unknown' : job?.hiringManager_id?.email }}
          <a href="mailto:{{ job?.hiringManager_id?.email }}">
            <img src="assets/img/envelope.svg" alt="" width="24" height="24" title="{{ job?.hiringManager_id?.email }}">
          </a>
        </div>
      </td> -->
      <td>
        <div *ngIf="job?.primaryRecruiter_id?.email">
          <!-- {{ job?.primaryRecruiter_id?.email == '' ? 'Unknown' : job?.primaryRecruiter_id?.email }} -->
          <a href="mailto:{{ job?.primaryRecruiter_id?.email }}">
            <img src="assets/img/envelope.svg" alt="" width="24" height="24" title="{{ job?.primaryRecruiter_id?.email }}">
          </a>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div id="pageInfo">
  Page: {{ currentPage }} / {{ pages }} (Total Jobs: {{ totalJobs }})
  <div *ngIf="pages > 1">
    <button class="btn btn-primary btn-small" [disabled]="currentPage==1" (click)='prevPage()'>Previous Page</button>
    <button class="btn btn-primary btn-small" [disabled]="currentPage==pages" (click)="nextPage()">Next Page</button>
  </div>
</div>
</div>